body {
	background:#fff;
	min-width:300px;
}

/* text */
html {
	font-size:14px;
	-webkit-tap-highlight-color:transparent;
}
body {
	font-size:16px;
	font-family:'Lato', sans-serif;
	font-weight:400;
	line-height:1.5;
	color:#1d1f20;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:500;
	margin-top:0;
	margin-bottom:0.25em;
	line-height:1.125;
}
h1 {font-size:1.75em;}
h2 {font-size:1.5em;}
h3 {font-size:1.375em;}
h4 {font-size:1.25em;}
h5 {font-size:1.125em;}
h6 {font-size:1em;}

@media (min-width:768px){
	h1 {font-size:2em;}
	h2 {font-size:1.875em;}
	h3 {font-size:1.5em;}
	h4 {font-size:1.375em;}
	h5 {font-size:1.25em;}
	h6 {font-size:1.125em;}
}

.text {
	color:#596173;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
	font-weight:700;
	color:#757F95;
}
.text ol {
	margin-top:0.5em;
	padding-left:3em;
}
.text ol {
	list-style-type:decimal;
}
.text ol li {
	display:list-item;
}
.text ul {
	list-style:none;
	margin:0.5em 0;
}
.text ul li {
	display:block;
	position:relative;
	padding-left:32px;
}
.text ul li:before {
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:8px;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f111";
	color:#2667b3;
	position:absolute;
	left:16px;
	top:8px;
}
.text table {
	width:100%;
	background-color:#fff;
}
.text table th, .text table td {
	border:1px solid #ddd;
	padding:0.4em 0.8em;
}
.text a {
	color:#2196f3;
	font-weight:700;
}
.text a:hover {
	color:#3CA727;
	text-decoration:underline;
}
.text-red {
	color:#d33;
}
::selection {
	background:#31A4F6;
}
::-moz-selection {
	background:#31A4F6;
}
img::selection {
	background:transparent;
}
img::-moz-selection {
	background:transparent;
}
body {
	-webkit-tap-highlight-color:#31A4F6;
}

/* containers */
.container, .container-fluid {
	margin-right:auto;
	margin-left:auto;
	padding-left:20px;
	padding-right:20px;
}
.container {
	width:auto;
}
.container-fluid {
	max-width:1080px;
}
@media (min-width:480px){
	.container, .container-inner {
		max-width:580px;
	}
}
@media (min-width:768px){
	.container, .container-inner {
		max-width:840px;
	}
}
@media (min-width:992px){
	.container {
		max-width:1080px;
	}
}

/* sticky */
body {
	display:flex;
	min-height:100vh;
	flex-direction:column;
}
.main-wrap {
	flex:1 0 0;
}

/* modal */
.modal-message {
	text-align:center;
	margin-bottom:40px;
}
.modal-message-v2 {
	text-align:left;
	margin-bottom:40px;
}
.modal-message__icon {
	width:88px;
	margin:0 auto 30px auto;
}
.modal-message__title--success {
	color:#79b150;
}
.modal-message__title--error {
	color:#d84f5f;
}
.modal-message__desc {
	color:#999;
}
.modal-message__title-v2 {
	text-align:center;
	margin-bottom:20px;
}

/* 404 */
.body-404 {
	background:#f6f7f9;
}
.table-full, .table-full td {
	width:100%;
	height:100%;
}
.table-full td {
	text-align:center;
	vertical-align:middle;
}
.message-box {
	max-width:600px;
	margin:auto;
	background:#fff;
	padding:40px;
	box-shadow:0 4px 16px -4px rgba(31, 109, 122, 0.2);
	border:1px solid #eee;
}
.message-box__logo {
	max-width:146px;
	margin:auto;
}
.message-box__logo img {
	display:block;
	width:100%;
}
.message-box__text {
	margin-top:60px;
}
.message-box__return {
	margin-top:60px;
}

/* column mobile spacing */
.mb-spaceup {
	padding-top:20px;
}
@media (min-width:768px){
	.mb-spaceup {
		padding-top:30px;
	}
}
@media (min-width:992px){
	.mb-spaceup {
		padding-top:0;
	}
}

/* extra column padding */
@media (min-width:992px){
	.lPad {
		padding-left:20px;
	}
	.rPad {
		padding-right:40px;
	}
}

/* opacity animation */
@keyframes flickerAnimation {
	0% {opacity:1;}
	50% {opacity:0.75;}
	100% {opacity:1;}
}
@-o-keyframes flickerAnimation{
	0% {opacity:1;}
	50% {opacity:0.75;}
	100% {opacity:1;}
}
@-moz-keyframes flickerAnimation{
	0% {opacity:1;}
	50% {opacity:0.75;}
	100% {opacity:1;}
}
@-webkit-keyframes flickerAnimation{
	0% {opacity:1;}
	50% {opacity:0.75;}
	100% {opacity:1;}
}
.animate-flicker {
	-webkit-animation:flickerAnimation 1s infinite;
	-moz-animation:flickerAnimation 1s infinite;
	-o-animation:flickerAnimation 1s infinite;
	animation:flickerAnimation 1s infinite;
}