@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


/* reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

a {
	text-decoration: none;
}

html, body {
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* //////////////////////////////// */


/* logo e menu */

/* Janela Modal */

.bgModal, .bgModal02 {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);

}

.bgModal02 {
	height: 110vh!important;
	top: 100%!important;
	z-index: 999;
}

.formModal, .formModal02 {
	width: 95%;
	height: 80%;
	max-width: 500px;
	min-height: 450px;
	max-height: 600px;
	padding: 50px 3% 40px;
	background-color: #fff;
	border: 5px solid #ccc;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.formModal02 {
	height: 73%;
}

.formModal input[type=text], .formModal02 input[type=text] {
	width: 100%;
	height: 50px;
	line-height: 25px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 0 2%;
}

.formModal textarea, .formModal02 textarea {
	width: 100%;
	height: 120px;
	line-height: 25px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 10px 2%;
}


.formModal input[type=submit], .formModal02 input[type=submit] {
	width: 100%;
	height: 50px;
	line-height: 25px;
	border: 1px solid #ccc;
	font-family: inherit;
	font-size: 18px;
	cursor: pointer;
	background-color: #ff703d;
	color: #fff;
	border: none;
	border-radius: 40px;
}

.formModal input[type=submit]:hover, .formModal02 input[type=submit]:hover {
	background: #f7612b;
	-webkit-transition: all 0.4s ease-in-out;

}

.btnClose, .btnClose02 {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #f7612b;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	text-align: center;
	line-height: 40px;
	font-family: helvetica;
	cursor: pointer;
}


/* end Janela Modal */

header {
	width: 100%;
	height: 90vh;
	min-height: 670px;
	background: url(../img/header_bg.png)center no-repeat;
	background-size: cover;
	padding: 40px 2%;
}

nav {
	float: right;
	margin-top: 20px;
}

nav.desktop-menu ul {
	list-style: none;
}


nav.desktop-menu a {
	color: #fff;

}


nav.desktop-menu a:hover, nav.desktop-menu li:hover {
	color: #f7b401;
	-webkit-transition: all 0.3s ease-in-out;
	
}

nav.desktop-menu li {
	display: inline-block;
	float: left;
	padding: 0 20px;
	color: #fff;
	cursor: pointer;
}

nav.mobile-menu  {
	width: 32px;
	height: 32px;
	background: url(../img/menu.png)center no-repeat;
	background-size: cover;
	display: none;
	cursor: pointer;
}


nav.mobile-menu ul {
	position: absolute;
	width: 100%;
	height: 54vh;
	left: 0;
	top: 130px;	
	padding: 40px 0;
	list-style: none;
	background: #fff;
	text-align: center;
	display: none;
}

nav.mobile-menu ul li {
	border-bottom: 1px solid black;
	padding: 8px 0;
	transition: 0.5s;
}

nav.mobile-menu ul li:hover {
	background: rgb(230,230,230);

}

nav.mobile-menu ul a {
	color: #212121;
}

.logo {
	display: inline-block;
	float: left;
	width: 200px;
	height: 70px;
	background: url(../img/logo_empresa.png) center no-repeat;
	background-size: contain;
}

.logo img {
	width: 100%;
}

.clear {
	clear: both;
}

.chamada01 {
	max-width: 600px;
	float: right;
	margin: 140px 45px;
}

.chamada01 h2 {
	font-size: 40px;
	color: #fff;
	font-weight: lighter;
}

.chamada01 p {
	font-size: 15px;
	color: #fff;
	margin-top: 10px;
}


/* secao 1 */

section.secao01 {
	height: 400px;
	background: #472562;
	width: 100%;
	padding: 0 2%;
}

section.secao01 .container {
	max-width: 800px;
	height: calc(100% + 30px);
}


.texto-secao01 {
	width: 50%;
	float: left;
	color: #fff;
	margin-top: 50px;
	padding-left: 80px;
}

.texto-secao01 h2 {
	font-size: 30px;
	font-weight: lighter;
}

.texto-secao01 p {
	font-size: 15px;
	margin-top: 20px;
}

.texto-secao01 ul {
	font-size: 15px;
	list-style-position: outside;
	padding-left: 15px;
}

.texto-secao01 ul li {
	float: left;
	width: 100%;
	margin-top: 8px;
}

.btn01 {
	background: #ff703d;
	width: 165px;
	height: 45px;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
	text-align: center;
	line-height: 45px;
	border-radius: 30px;
	font-size: 15px;
}

.btn01:hover {
	background-color: transparent;
	border: 2px solid #fff;
	-webkit-transition: all 0.1s ease-in-out;
}


.device-secao01 {
	position: relative;
	top: -30px;
	width: 50%;
	height: 480px;
	float: left;
}


/* secao 2 */

.secao02 {
	padding-left: 2%;
	padding-right: 2%;
	background: #fff;
	text-align: center;
}

.secao02 .container {
	max-width: 1000px;
}

.secao02 h2 {
	color: #472663;
	font-weight: normal;
}

.secao02 p {
	display: inline-block;
	margin-top: 30px;
	max-width: 700px;

}

.secao02 img {
	width: 70%;
	margin-top: 10px;
	position: relative;
	top: 50px;
	box-shadow: 1px 7px 23px 2px grey;
	z-index: 2;
}


/* secao 3 */


.secao03 {
	width: 100%;
	
}

.secao03 .container {
	width: 100%;
	max-width: none;
}

.parte01 {
	width: 50%;
	height: 290px;
	float: left;
	padding: 80px 0 90px 0;
	background: #835fa7;
	color: #fff;
}

.parte01 h2 {
	font-size: 25px;
	font-weight: normal;
	font-style: italic;
}

.parte01 p {
	font-size: 17px;
	margin-top: 10px;
	line-height: 25px;
	font-weight: 300;
}

.wrapper-parte01 {
	max-width: 600px;
	float: right;
	padding: 0 30px;
}

.parte02 {
	width: 50%;
	height: 290px;
	float: left;
	padding: 80px 0 61px 0;
	background: #fff;
	overflow: scroll;
}


.scrollEquipe {
	max-width: 600px;
	padding-left: 30px;
	overflow: hidden;
}

.wrapper-scroll {
	width: 100%;
}

.sobre-autor {
	width: 100%;
	float: left;

}

.titulo-autor {
	width: 100%;
	float: left;
}

#sobre-autor02 .titulo-autor, #sobre-autor03 .titulo-autor  {
	margin-top: 10px;
}

.titulo-autor img {
	width: 54px;
	height: 54px;
	border-radius: 35px;
}

.titulo-autor h2 {
	color: #232323;
	font-size: 23px;
	font-weight: normal;
	padding-right: 20px;
}

.titulo-autor p {
	color: #232323;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
}

.img-autor {
	float: left;
	background-size: cover;
	border-radius: 25px;
	position: relative;
	top: 2px;
}

.wrapper-titulo-autor {
	width: calc(100%-40px);
	float: left;
}


.texto-autor {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.texto-autor p {
	color: #232323;
	font-size: 15px;
	font-weight: 300;
}



.slider-bullets {
	width: 100%;
	float: left;
	margin-top: 10px;
	padding-left: 30px;
}

.slider-bullets span {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 15px;
	border-radius: 8px;
	background: rgb(200,200,200);
	cursor: pointer;
}

/* secao 4 */

.secao04 {
	background: #472563;
	padding: 100px 0;

}

.form {
	width: 50%;
	float: left;
	padding-left: 10px;
}

.form h2, .form p {
	font-size: 25px;
	color: #fff;
	font-weight: normal;
}

.form p {
	max-width: 400px;
	font-size: 17px;
	font-weight: 300;
	padding-right: 10px;
}

.form form {
	margin-top: 15px;
}

.form form input[type="text"] {
	width: 90%;
	max-width: 480px;
	height: 60px;
	padding-left: 15px;
	line-height: 58px;
	border: 1px solid rgb(200,200,200);
	margin-top: 10px;
}

.form form textarea {
	width: 90%;
	max-width: 480px;
	height: 160px;
	padding: 15px;
	border: 1px solid rgb(200,200,200);
	margin-top: 10px;
}

.form form input[type="submit"] {
	background: #ff703d;
	width: 165px;
	height: 45px;
	font-size: 15px;
	color: #fff;
	margin-top: 15px;
	cursor: pointer;
	border-radius: 30px;
	border: none;
}

.form form input[type="submit"]:hover {
	background-color: transparent;
	border: 2px solid #fff;
	-webkit-transition: all 0.1s ease-in-out;
}

.wrapper-map {
	width: 50%;
	float: left;
	padding: 0 10px;
}

.wrapper-map h2 {
	font-size: 25px;
	color: #fff;
	font-weight: normal;
}

.wrapper-map02 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 100%;
}

.wrapper-map03 {
	position: relative;
	width: 100%;
	max-width: 480px;
	float: left;
	margin-top: 10px;
}

.map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	border: 5px solid #ccc;
}


footer {
	padding: 40px 2%;
	background: #192131;
	color: #fff;
}

footer p:nth-of-type(1) {
	float: left;
	font-weight: 300;
	font-size: 15px;
}

footer p:nth-of-type(2) {
	float: right;
	font-weight: 300;
	font-size: 15px;
}

.chevron {
	position: fixed;
	right: 30px;
	bottom: 20px;
	cursor: pointer;
}

.chevron img {
	width: 35px;
	height: auto;
}




/* /////////// responsividade //////////// */

@media screen and (max-width: 1024px){

	 #topoMenu {
		max-width: 900px;
	}


	.secao04 {
		padding: 100px 4%;
	}

	.device-secao01 {
		right: 11%;
	}

	.wrapper-parte01 {
		padding: 0 50px;
	}

	footer {
		padding: 40px 10%;
	}
}

@media screen and (max-width: 960px){

	.device-secao01 {
		right: 12%;
	}
}

@media screen and (max-width: 768px){

	header {
		height: auto;
		min-height: 70vh;
		padding: 40px 4%;
	}

	nav.desktop-menu {
		display: none;
	}

	nav.mobile-menu {
		display: block;
	}

	.chamada01 {
		width: 100%;
		float: none;
		margin: 80px 0;
		text-align: center;
	}

	.chamada01 h2 {
		font-size: 30px;
		padding: 0 10px;
	}

	section.secao01 {
		height: auto;
		padding: 50px 6% 40px 6%;
		text-align: center;
	}

	.texto-secao01 {
		width: 100%;
		display: inline-block;
		float: none;
		position: static;
		margin-top: 0;
		padding-left: 0;
	}

	.device-secao01 {
		display: none;
	}

	.btn01 {
		display: inline-block;
	}

	.texto-secao01 ul {
		width: auto;
		display: inline-block;
	}


	.texto-secao01 ul li {
		float: none;
		text-align: left;
	}

	.secao02 h2 {
		padding: 50px 4% 5px;
	}

	.secao02 p {
		padding: 0 8%;
	}

	.secao04 .container {
		text-align: center;
	}

	.form {
		float: none;
		width: 100%;
	}

	.form p {
		display: inline-block;
		margin-top: 10px;
	}

	.wrapper-map {
		float: none;
		width: 100%;
		margin-top: 30px;
	}

	.wrapper-map02 {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		padding-top: 100%;
	}

	.wrapper-map03 {
		position: relative;
		width: 90%;
		max-width: none;
		float: none;
		margin-top: 20px;
		display: inline-block;
	}

	footer {
		text-align: center;
	}

	footer p:nth-of-type(1) {
		float: none;
	}

	footer p:nth-of-type(2) {
		float: none;
		margin-top: 5px;
	}



}

@media screen and (max-width: 580px){

	.parte01 {
		width: 100%;
	}

	.parte02 {
		width: 100%;
	}

	.secao02 img {
		width: 80%;
	}
}

@media screen and (max-width: 480px){

	header {
		min-height: 70vh;
	}

	.parte02 {
		padding: 65px 0 61px 0;
	}

	.form {
		margin-top: -25px;
	}

	.formModal, .formModal02 {
		width: 75%;
		height: 75%;
		min-height: 440px;
		max-height: 500px;
		
	}

	.formModal input[type=submit], .formModal02 input[type=submit] {
		width: 100%;
		max-height: 50px;
		display: inline-block;
		position: relative;
		left: 0;
		top: 4px;
		right: 0;
	}

}

