@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');


/* reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

a {
	text-decoration: none;
}

html, body {
	height: 100%;
}


/* //////////////////////////////// */

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

header {
	background: #ccc9c9;
	padding: 20px 10% 35px 10%;
}

.logo01 {
	float: left;
	width: 190px;
	height: 70px;
	background: url(../img/logo1.png) center no-repeat;
	background-size: contain;
}

.logo02 {
	float: right;
	width: 150px;
	height: 70px;
	background: url(../img/logo2.png) center no-repeat;
	background-size: contain;
}

section.cover-form {
	width: 100%;

}

.bg {
	height: 500px;
	background: url(../img/bg01.jpg) center no-repeat;
	background-size: cover;

}

.form-container {
	width: 400px;
	height: 110%;
	float: right;
	background: #fff;
	margin-right: 40px;
	position: relative;
	top: -7%;
	background: #fff;
	box-shadow: 1px 2px 1px 2px rgb(180, 180, 180);
	z-index: 2;
}

.form-container h2 {
	background: rgb(230,230,230);
	padding: 25px 20px;
	color: black;
	font-size: 18px;
	font-weight: normal;
}

.form-container form {
	margin-top: 8px;
	padding: 15px;
}

.form-container form label {
	font-size: 15px;
	color: #525252;
}


.form-container form input[type="text"] {
	width: 100%;
	border: 1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}

.form-container form input[type="text"]:focus {
	outline: none;
}

.form-group:not(:first-child) {
	margin-top: 30px;
}

.form-container form input[type="submit"] {
	width: 100%;
	height: 50px;
	font-size: 20px;
	background: #033c50;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	border: 0;

}

.form-container form input[type="submit"]:hover {
	background-color: #c01d22;
	transition: 1s;
}

section.chamada .container {
	background: #214f5f;
	padding: 50px 0;	
}

section.chamada {
	width: 100%;	
	text-align: center;
	position: relative;
	display: inline-block;
	top: -50px;
	z-index: 1;
}

section.chamada h2 {
	width: 96%;
	max-width: 600px;
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
}

section.chamada p {
	width: 96%;
	color: #fff;
	margin-top: 20px;
}

.clear {
	clear: both;
}

section.mosaico {
	width: 100%;
	text-align: center;
}

.container-mosaico {
	position: relative;
	display: inline-block;
	vertical-align: top;
	top: -50px;
}

.flex-mosaico {
	display: flex;
}

.item1-mosaico {
	width: 70%;
	background-size: cover;
	background-repeat: no-repeat;
}

.item2-mosaico {
	background: rgb(230,230,230);
	color: #444;
	width: 30%;
	padding: 60px 40px;

}

.item2-mosaico p {
	text-align: left;
}


footer {
	text-align: center;
	padding: 20px 0;
}

footer p {
	margin-top: 10px;
}

footer img {
	width: 120px;
	margin-top: 35px;
}



/* responsividade */

@media screen and (max-width: 960px){ 
	.form-container {
		width: 65%;
		max-width: 400px;
		height: auto;
		float: none;
		margin: 0 auto;
	}

	section.chamada .container {
		padding: 90px 0;
	}

	section.chamada h2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 768px){

	.flex-mosaico {
		display: block;
	} 

	.item1-mosaico {
		height: 400px;
		width: 100%;

	}

	.item2-mosaico {
		width: 100%;
	}

	.form-container {
		top: -4%;
	}
}


@media screen and (max-width: 500px){


	header {
		text-align: center;
	}

	.logo01, .logo02 {
		display: inline-block;
		float: none;
		margin-top: 10px;
	}

	.form-container {
		width: 80%;
		max-width: 400px;
		float: none;
		margin: 0 auto;
	}

	section.chamada .container {
		padding: 90px 0;
	}

	section.chamada h2 {
		font-size: 20px;
	}

	
}



